/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .brown
{
    color: #852d04db;
}
nav .navbar-brand .green
{
    color: #015119;
}

.charBox {
    padding: 20px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}