<!-- Isto é para desaparecer depois -->
{% extends "base.html" %}

{% block head %}{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
{% block content %}
<p> LOGOUT DONE !!! </p>
    <div>
    <form method="POST">
        <div class="mb-3">
            <select name="month">
                <option disabled selected>Month</option>
                {% for month in months %}
                    <option value="{{ month.month }}">{{ month.month }}</option>
                {%  endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
    <p></p>
        <div class="container-md">
            <div class="col col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Plate</th>       
                            <th scope="col">Distance (kms)</th>
                            <th scope="col">Fuel (Lt)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in table_data %}
                            <tr>
                                <td scope="row">{{ data['plate'] }}</td>
                                <td>{{ data['kms'] }} </td>
                                <td>{{ data['gas'] }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    

{% endblock %}
{% endblock %}