<!-- Isto é para desaparecer depois -->
{% extends "base.html" %}

{% block head %}
    <script src="/static/js/chart.min.js"></script>
    <script src="/static/js/chartjs-plugin-datalabels.min.js"></script>

    <style>
        form {
            max-width: 300px;
            margin: 10px auto;
            padding: 10px 20px;
            background: rgba(20, 81, 41, 0.26);
            border-radius: 8px;
        }
    </style>
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
{% block content %}
    <!-- <div class="container-fluid text-center" style="padding-top: 20px;">
        
    </div> -->
    <div class="text-center" style="padding-top: 20px;">
        <h1>{{ month_name }} Stats </h1>
    </div>
    <div class="container text-center" style="padding-left: 20px; padding-right: 20px;">
        <div class="row align-content-center">
            <div class="col col-md-2 align-content-center">
                <h4> Filter option </h4>
                <form method="POST">
                    <div class="mb-3">
                        <select name="month">
                            {% for month in months %}
                                <option value="{{ month }}">{{ month }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </div>
            <div class="col col-md-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Plate</th>       
                            <th scope="col">Distance (kms)</th>
                            <th scope="col">Fuel (Lt)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in table_data %}
                            <tr>
                                <td scope="row">{{ data['plate'] }}</td>
                                <td>{{ data['kms'] }} </td>
                                <td>{{ data['gas'] }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col col-md-6">
                <!-- JERE -->
                <div class="position-sticky" style="top: 2rem;">
                    <div class="chartBox">
                        <canvas id="bar" style="width:100%;max-width:800px; height:100%; max-height: 400px;"></canvas>
                    </div>
                    <script>
                        var ctx_km = document.getElementById("bar").getContext("2d");
                        var linechart = new Chart(ctx_km, {
                            type: 'bar',
                            // Data options
                            data: {
                                labels: {{ plates | safe }}, // Safe is for populate
                                datasets: [{
                                    data: {{ consumption | safe }},
                                    // borderColor: "black",
                                    backgroundColor: '#D99011',
                                    borderColor: '#D99011',
                                    hoverBackgroundColor: '#B35900',
                                    barPercentage: 0.5,
                                    borderRadius: 10,
                                    datalabels: {
                                        align: 'center',
                                        anchor: '',
                                    }
                                }]
                            },
                            plugins: [ChartDataLabels],
                            options: {
                                responsive: true,
                                plugins: {legend: {display: false},
                                    title: {
                                        display: true,
                                        text: 'Consumption (Lt / 100km)',
                                        position: 'top',
                                        align: 'center',
                                        fullSize: 'false',
                                        color: 'rgb(0,0,0)',
                                        font: {
                                            weight: 'bold',
                                            size: 20
                                        }
                                        
                                    },
                                    datalabels: {
                                        backgroundColor: '#8C5900',
                                        borderRadius: 4,
                                        color: 'white',
                                        font: {
                                            size: 12
                                        },
                                        formatter: Math.round,
                                    },
                                    
                                },
                                // Core options
                                aspectRatio: 1,
                                // maintainAspectRatio: false,
                                indexAxis: 'y',
                                scales: {
                                        x: {
                                            grid: {
                                            display: false,
                                            stacked: true}
                                        },
                                        y: {
                                            grid: {
                                            display: false,
                                            stacked: true
                                            }
                                        }
                                },
                            }
                        });
                    </script>
                </div>
                <!-- Bar Graph for vehicles consumption -->
            </div>
        </div>
    </div>
    

{% endblock %}
{% endblock %}