<!-- Isto é para desaparecer depois -->
{% extends "base.html" %}

{% block head %}{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
{% block content %}
<p> LOGOUT DONE !!! </p>
    <div>

    <form method="POST">
        <div class="mb-3">
            <select name="plate">
                <option disabled selected>Month</option>
                {% for month in months %}
                    <option value="{{ month.month }}">{{ month.month }}</option>
                {%  endfor %}
            </select>
        </div>
    </form>
    <p></p>
        <div class="bd-example">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>       
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Vehicle</th>
                        <th scope="col">Distance</th>
                        <th scope="col">Fuel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transport in transports %}
                        <tr>
                            <td scope="row">{{ transport['id'] }}</td>
                            <td>{{ transport['rank'] }}</td>
                            <td>{{ transport['name'] }}</td>
                            <td>{{ transport['date'] }}</td>
                            <td>{{ transport['plate'] }}</td>
                            <td>{{ transport['kms'] }} km</td>
                            <td>{{ transport['gas'] }} L</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

{% endblock %}
{% endblock %}