<!-- Isto é para desaparecer depois -->
{% extends "base.html" %}

{% block head %}
    <script src="/static/js/chart.min.js"></script>
    <script src="/static/js/chartjs-plugin-datalabels.min.js"></script>
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
{% block content %}
<div class="container text-center" style="padding-top: 15px; padding-bottom: 15px;">
    
    <div class="row">
    <!-- Divide in two parts, more space to graphs-->
      <div class="col-md-8">
        <!-- 1 of 3 line graph -->
        <div class="row">
            <!-- Number of trips graph -->
            <div class="chartBox" style="background-color: rgba(80, 59, 23, 0.03); border-radius: 20px; margin-bottom: 4px;">
                <canvas id="linechart_tot" style="width:100%;max-width:1000px" height="250px"></canvas>
            </div>
            <script>
                var ctx_km = document.getElementById("linechart_tot").getContext("2d");
                var linechart = new Chart(ctx_km, {
                    type: "line",
                    // Data options
                    data: {
                        labels: {{ months | safe }},
                        datasets: [{
                            backgroundColor: 'rgba(80, 59, 23, 0.8)',
                            borderColor: "rgba(179, 125, 33, 0.8)",
                            data: {{ totals | safe }},
                            datalabels: {
                                align: 'end',
                                anchor: 'end',
                            },
                        }]
                    },
                    plugins: [ChartDataLabels],
                    options: {
                        responsive: false,
                        plugins: {
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Monthly Transports (#)',
                                position: 'top',
                                align: 'start',
                                fullSize: 'false',
                                color: 'rgb(0,0,0)',
                                font: {
                                    weight: 'bold',
                                    size: 20
                                }
                                
                            },
                            datalabels: {
                                backgroundColor: 'rgba(80, 59, 23, 0.8)',
                                borderRadius: 4,
                                color: 'white',
                                font: {
                                    weight: 'bold'
                                },
                                formatter: Math.round,
                                padding: 6
                            }
                        },

                        // Core options
                        aspectRatio: 5 / 3,
                        layout: {
                            padding: {
                                top: 32,
                                right: 16,
                                bottom: 16,
                                left: 8
                            }
                        },
                        elements: {
                            line: {
                                fill: false,
                                tension: 0.2
                            }
                        },
                        scales: {
                            y: {
                                stacked: true,
                                display: false
                            },
                            offset: true,
                            x: {
                                grid: {
                                    display: false
                                }
                            }
                        }
                    }
                });
            </script>
        </div>

        <!-- 2 of 3 line graph -->
        <div class="row">
            <!-- Kms graph -->
            <div class="chartBox" style="background-color: rgba(20, 60, 47, 0.03); border-radius: 20px; margin-bottom: 4px;">
                <canvas id="linechart_km" style="width:100%;max-width:1000px" height="250px"></canvas>
            </div>
            <script>
                var ctx_km = document.getElementById("linechart_km").getContext("2d");
                var linechart = new Chart(ctx_km, {
                    type: "line",
                    // Data options
                    data: {
                        labels: {{ months | safe }}, // Safe is for populate
                        datasets: [{
                            backgroundColor: 'rgba(20, 60, 47, 0.9)',
                            borderColor: "rgba(41, 86, 71, 0.79)",
                            data: {{ distances | safe }},
                            datalabels: {
                                align: 'end',
                                anchor: 'end',
                            }
                        }]
                    },
                    plugins: [ChartDataLabels],
                    options: {
                        responsive: false,
                        plugins: {
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Monthly Distance (km)',
                                position: 'top',
                                align: 'start',
                                fullSize: 'false',
                                color: 'rgb(0,0,0)',
                                font: {
                                    weight: 'bold',
                                    size: 20
                                }
                            },
                            datalabels: {
                                backgroundColor: 'rgba(20, 60, 47, 0.9)',
                                borderRadius: 4,
                                color: 'white',
                                font: {
                                    weight: 'bold'
                                },
                                formatter: Math.round,
                                padding: 6
                            }
                        },

                        // Core options
                        aspectRatio: 5 / 3,
                        layout: {
                            padding: {
                                top: 32,
                                right: 16,
                                bottom: 16,
                                left: 8
                            }
                        },
                        elements: {
                            line: {
                                fill: false,
                                tension: 0.2
                            }
                        },
                        scales: {
                            y: {
                                stacked: true,
                                display: false
                            },
                            offset: true,
                            x: {
                                grid: {
                                    display: false
                                }
                            }
                        }
                    }
                });
            </script>
        </div>

        <!-- 3 of 3 line graph -->
        <div class="row">
            <!-- Fuel graph -->
            <div class="chartBox" style="background-color: rgba(36, 20, 66, 0.03); border-radius: 20px;">
                <canvas id="linechart_fuel" style="width:100%;max-width:1000px" height="250px"></canvas>
            </div>
            <script>
                var ctx_gas = document.getElementById("linechart_fuel").getContext("2d");
                var linechart = new Chart(ctx_gas, {
                    type: "line",
                    // Data options
                    data: {
                        labels: {{ months | safe }}, // Safe is for populate
                        datasets: [{
                            backgroundColor: 'rgba(36, 20, 66, 0.84)',
                            borderColor: "rgba(57, 36, 94, 0.78)",
                            data: {{ fuel | safe }},
                            datalabels: {
                                align: 'end',
                                anchor: 'end',
                            }
                        }]
                    },
                    plugins: [ChartDataLabels],
                    options: {
                        responsive: false,
                        plugins: {
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Monthly Fuel (Lt)',
                                position: 'top',
                                align: 'start',
                                fullSize: 'false',
                                color: 'rgb(0,0,0)',
                                font: {
                                    weight: 'bold',
                                    size: 20
                                }
                            },
                            datalabels: {
                                backgroundColor: 'rgba(36, 20, 66, 0.84)',
                                borderRadius: 4,
                                color: 'white',
                                font: {
                                    weight: 'bold'
                                },
                                formatter: Math.round,
                                padding: 6
                            }
                        },

                        // Core options
                        aspectRatio: 5 / 3,
                        layout: {
                            padding: {
                                top: 32,
                                right: 16,
                                bottom: 16,
                                left: 8
                            }
                        },
                        elements: {
                            line: {
                                fill: false,
                                tension: 0.2
                            }
                        },
                        scales: {
                            y: {
                                stacked: true,
                                display: false
                            },
                            offset: true,
                            x: {
                                grid: {
                                    display: false
                                }
                            }
                        }
                    }
                });
            </script>
        </div>
      </div>
      
      <!-- Years totals on snd column-->
      <div class="col-6 col-md-4">
        <!-- Sticky position not dissapear during scroll down-->
        <div class="position-sticky" style="top: 2rem;">
            <div class="container text-center">
                <h4 style="padding-top: 90px;"> Year Totals </h4>
                <br><br>
                <div class="row row-cols-2 align-bottom">
                    <div class="col">
                        <figure class="figure" style="width: 100%;max-width:50px; height: auto;">
                            <img src="/static/fig/cars.png" class="figure-img img-fluid rounded" alt="cars">
                        </figure>
                    </div>
                    <div class="col">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-outline-dark btn-lg" disabled> {{ numb_tp }} Trips</button>
                        </div>
                    </div>
                    <div class="col">
                        <figure class="figure" style="width: 100%;max-width:50px; height: auto;">
                            <img src="/static/fig/distance.png" class="figure-img img-fluid rounded" alt="distance">
                        </figure>
                    </div>
                    <div class="col">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-outline-dark btn-lg" disabled> {{ numb_kms }} Kms</button>
                        </div>
                    </div>
                    <div class="col">
                        <figure class="figure" style="width: 100%;max-width:50px; height: auto;">
                            <img src="/static/fig/gas-station.png" class="figure-img img-fluid rounded" alt="gas">
                        </figure>
                    </div>
                    <div class="col">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-outline-dark btn-lg" disabled> {{ numb_gas }} Lt </button>
                        </div>
                    </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% endblock %}