{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}
    History
{% endblock %}

{% block main %}
{% block content %}
    <!-- Container -->
    <div class="container-md" style="position:sticky; padding-top: 20px; align-content: center;">
        <!-- Content -->
        <h1 style="position: center;"> History of inputs</h1>
        <!-- Content - Table -->
        <div class="bd-example">
            <table class="table table-striped text-center">
                <thead>
                    <tr class="white">
                        <th scope="col">#</th>       
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Vehicle</th>
                        <th scope="col">Distance</th>
                        <th scope="col">Fuel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transport in transports %}
                        <tr>
                            <td scope="row">{{ transport['id'] }}</td>
                            <td>{{ transport['rank'] }}</td>
                            <td>{{ transport['name'] }}</td>
                            <td>{{ transport['date'] }}</td>
                            <td>{{ transport['plate'] }}</td>
                            <td>{{ transport['kms'] }} km</td>
                            <td>{{ transport['gas'] }} L</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Content - Table -->
    </div>
    <!-- Container -->

{% endblock %}
{% endblock %}