{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block head %}
    <script src="/static/chart.min.js"></script>
    <script src="/static/chartjs-plugin-datalabels.min.js"></script>
{% endblock %}

{% block main %}
{% block content %}
    <h1>Total movements</h1>
    <div class="row mb-3">
        <div class="col-6 col-lg-4 themed-grid-col">
            <div class="bd-example">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>       
                            <th scope="col">Rank</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Vehicle</th>
                            <th scope="col">Distance</th>
                            <th scope="col">Fuel</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transport in transports %}
                            <tr>
                                <td scope="row">{{ transport['id'] }}</td>
                                <td>{{ transport['rank'] }}</td>
                                <td>{{ transport['name'] }}</td>
                                <td>{{ transport['date'] }}</td>
                                <td>{{ transport['plate'] }}</td>
                                <td>{{ transport['kms'] }} km</td>
                                <td>{{ transport['gas'] }} L</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 themed-grid-col">
            <aside>
                <div class="chartBox">
                    <canvas id="linechart" style="width:100%;max-width:1000px"></canvas>
                </div>
                <script>
                    var ctx = document.getElementById("linechart").getContext("2d");
                    var linechart = new Chart(ctx, {
                        type: "line",
                        // Data options
                        data: {
                            labels: {{ months | safe }}, // Safe is for populate
                            datasets: [{
                                borderColor: "rgb(75, 192, 192)",
                                data: {{ distances | safe }},
                                datalabels: {
                                    align: 'end',
                                    anchor: 'end',
                                }
                            }]
                        },
                        plugins: [ChartDataLabels],
                        options: {
                            responsive: false,
                            plugins: {
                                legend: {
                                    display: false
                                },
                                title: {
                                    display: true,
                                    text: 'Monthly Distance (km)'
                                },
                                datalabels: {
                                    backgroundColor: 'black',
                                    borderRadius: 4,
                                    color: 'white',
                                    font: {
                                        weight: 'bold'
                                    },
                                    formatter: Math.round,
                                    padding: 6
                                }
                            },

                            // Core options
                            aspectRatio: 5 / 3,
                            layout: {
                                padding: {
                                    top: 32,
                                    right: 16,
                                    bottom: 16,
                                    left: 8
                                }
                            },
                            elements: {
                                line: {
                                    fill: false,
                                    tension: 0.4
                                }
                            },
                            scales: {
                                y: {
                                    stacked: true,
                                    display: false
                                },
                                offset: true,
                                x: {
                                    grid: {
                                        display: false
                                    }
                                }
                            }
                        }
                    });
                </script>
            </aside>
        </div>
      </div>

{% endblock %}
{% endblock %}