{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block head %}
    <style>
        form {
            max-width: 300px;
            margin: auto;
            padding: 10px 20px;
            background: #f4e9df;
            border-radius: 8px;
        }
        select {
            height: 40px;
            border-radius: 4px;
            border-color: rgba(125, 125, 125, 0.26);
            width: 100%;
        }
    </style>
{% endblock %}

{% block main %}
{% block content %}
    <form action = "register" method="POST">
        <h4 style="padding: 5px 5px;">Sign up</h4>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" id="bim" name="bim" placeholder="BIM" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" id="password" name="confirmation" placeholder="Password (Repeat)" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" id="first_name" name="first_name" placeholder="First Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" id="last_name" name="last_name" placeholder="Last Name" type="text">
        </div>
        <div class="mb-3">
            <select class="form-select-sm mb-3" name="rank">
                <option disabled selected>Rank</option>
                {% for rank in ranks %}
                    <option value="{{ rank }}">{{ rank }}</option>
                {%  endfor %}
            </select>
        </div>
        <button class="btn btn-primary mb-3" type="submit">Register</button>
    </form>
{% endblock %}
{% endblock %}

