{% extends "base.html" %}

{% block title %}
    Transports
{% endblock %}

{% block head %}{% endblock %}

{% block main %}
{% block content %}
    <h1> Transports log</h1>
    <h2> Here will be to input movements done by the drivers</h2>
    <form method="POST">
        <div class="mb-3">
            <select name="plate">
                <option disabled selected>Plate</option>
                {% for plate in plates %}
                    <option value="{{ plate.plate }}">{{ plate.plate }}</option>
                {%  endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="date" name="date" placeholder="Date" type="date">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="km_init" name="km_init" placeholder="Km's beginning" type="number">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="km_final" name="km_final" placeholder="Km's final" type="number">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="gas" name="gas" placeholder="Fuel (Lts)" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
{% endblock %}